


  <div class="carta">
    <div class="carta" style='background: url(../../../assets/cartas.jpg); width: 225px; height: 315px; background-position: right {{right}}px bottom {{bottom}}px;'></div>
  </div>
  <div class="interfaz">
      <Label>Indique si la proxima carta sera mayor o menor:</Label><br><button (click)="apuestaMayor()">Mayor</button><button (click)="apuestaMenor()">Menor</button><br>
      <Label>Total de Aciertos Seguidos: {{aciertos}}</Label>
      <button (click)="cartaRandom()">Carta Random</button>
  </div>