.juego {
  height: 60%;
  width: 50vw;
  border: 10px solid;
  border-radius: 15px;
  padding: 2em;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  letter-spacing: 1.1px;
  font-size: 2em;
  margin-left: 25%;
}

  .tablero{
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border: 10px solid ;
    background-color:rgba(186, 81, 212, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }


button:focus {outline:0;}