<div [hidden]="profileHidden" class="card-container">
	<img class="round" src="https://ih1.redbubble.net/image.1283733902.5974/flat,128x,075,f-pad,128x128,f8f8f8.jpg" alt="user" />
	<h3>Guido Cesa</h3>
	<h6>Argentina</h6><br>
	<div class="buttons">
		<button class="primary">
			Hi-Scores
		</button>
		<button class="primary ghost">
			Friends
		</button>
	</div>
	<div class="skills">
		<h6>INFO</h6>
		<ul>
			<li>User ID: 37762829</li><br>
			<li>Country: Argentina</li><br>
			<li>Most Played Game: Buscaminas</li><br>
		</ul>
	</div>
</div>